.paginator {
	margin: 1rem;
}
.pageNumber {
	cursor: pointer;
	font-size: 1rem;
	padding: 4px;
	border: 1px solid grey;
}
.pageNumber.selectedPage {
	font-weight: bold;
	border-color: black;
}

.buttonL {
	cursor: pointer;
	width: 4rem;
	height: 2rem;
	border-radius: 15px 0 0 15px;
	border: 1px solid #fff;
	background: #052d6e;
	color: #fff;
}

.buttonL:hover {
	background: #105ede;
}

.buttonL:active {
	background: #87CEFA;
}

.buttonR {
	cursor: pointer;
	width: 4rem;
	height: 2rem;
	border-radius: 0 15px 15px 0;
	border: 1px solid #fff;
	background: #052d6e;
	color: #fff;
}

.buttonR:hover {
	background:#105ede;
	;
}

.buttonR:active {
	background: #87CEFA;
}