body {
  margin: 0;
  box-sizing: border-box;
  border: none;
  background-image: linear-gradient(100deg, #d4f1ff, #062e3f);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
	margin: 0 auto;
	text-align: center;
}
